# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# code composter suff
msp*/.ccsproject
msp*/.cproject
msp*/.launches
msp*/.project
msp*/.settings
msp*/Debug
msp*/targetConfigs
msp*/lnk_msp430g2553.cmd

# Vim
*.swp
*.swo

# misc
*~
